* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100dvh;
  display: flex;
  place-items: center;
  width: 100%;
}
.container {
  min-height: 100dvh;
  position: relative;
  display: grid;
  place-items: center;
  width: 100%;
}
.video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -2;
}
h1 {
  color: #fff;
  z-index: 1;
}
