* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f1f5f8;
  height: 100dvh;
}
.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
}
.container h1 {
  color: #102b42;
  font-size: 4rem;
}
#counter {
  color: #008000;
  font-size: 4rem;
}
.btn {
  display: flex;
  gap: 16px;
}
.btn button {
  text-transform: uppercase;
  letter-spacing: 3px;
  padding: 3px 12px;
  border: 1px solid black;
  border-radius: 5px;
}
