@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Raleway", serif;
  background-color: #f1f5f8;
  height: 100dvh;
}
header {
  display: flex;
  justify-content: space-between;
  padding: 25px 40px;
  align-items: center;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
header h1 {
  letter-spacing: 5px;
  text-shadow: 3px 5px 9px rgba(0, 0, 0, 0.39);
}
header h1 span {
  color: #49a6ea;
}
nav ul {
  list-style-type: none;
  display: flex;
  gap: 20px;
}
nav ul li {
  letter-spacing: 5px;
}
nav ul li a {
  text-decoration: none;
  color: #000;
}
nav ul li a:hover {
  color: #49a6ea;
  transition: transform 0.4s ease;
}

label {
  display: none;
  flex-direction: column;
  width: 50px;
  cursor: pointer;
}

label span {
  background: #49a6ea;
  border-radius: 10px;
  height: 5px;
  margin: 4px 0;
  transition: 0.4s cubic-bezier(0.68, -0.6, 0.32, 1.6);
}

span:nth-of-type(1) {
  width: 50%;
}

span:nth-of-type(2) {
  width: 100%;
}

span:nth-of-type(3) {
  width: 75%;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"]:checked ~ span:nth-of-type(1) {
  transform-origin: bottom;
  transform: rotatez(45deg) translate(4px, 0px);
}

input[type="checkbox"]:checked ~ span:nth-of-type(2) {
  transform-origin: top;
  transform: rotatez(-45deg);
}

input[type="checkbox"]:checked ~ span:nth-of-type(3) {
  transform-origin: bottom;
  width: 50%;
  transform: translate(26px, -8px) rotatez(45deg);
}
@media (max-width: 768px) {
  label {
    display: flex;
  }
  nav {
    display: none;
  }
  header {
    padding: 20px;
  }
  header h1 {
    font-size: 0.8rem;
    letter-spacing: 3px;
  }
}
@media (max-width: 1024px) {
  header h1 {
    font-size: 1.7rem;
  }
  nav ul li {
    font-size: 1rem;
  }
}
