@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@200..1000&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Mulish", sans-serif;
  display: flex;
  justify-content: center;
  height: 100vh;
  background-color: #f1f5f8;
  text-align: center;
}

.review-container {
  padding: 2rem;
}

.review-container h1 {
  font-size: 3rem;
  letter-spacing: 4px;
  color: #102b42;
  position: relative;
  margin-bottom: 1.5rem;
}

.review-container h1::after {
  content: "";
  position: absolute;
  bottom: -15px;
  left: 50%;
  width: 6rem;
  height: 5px;
  background-color: #49a6ea;
  transform: translateX(-50%);
}

.review-card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  width: 60%;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* .review-container {
  display: grid;
  place-items: center;
  width: 100%;
  text-align: center;
  border: 1px solid red;
}
.review-card {
  padding: 40px;
  width: 60%;
  background-color: #fff;
}
.review-card img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  border: 8px solid #49a6ea;
  border-left: none;
  border-bottom: none;
  position: relative;
}
.review-card img::before {
  content: '"';
  position: absolute;
  height: 10px;
  width: 10px;
  background-color: #49a6ea;
} */
